.map {
	position: relative;

	@include breakpoint(tablet) {
		padding: 0 0 0 20px;
	}

	iframe {
		width: 100%;
		height: 220px;

		@include breakpoint(tablet) {
			height: 300px;
		}
	}

	// .map-info { 
	// 	font-family: poppins-light;
	// 	width:220px; 
	// 	padding: 16px 0; 
	// 	display:block;
		
	// 	@include breakpoint(tablet) {
	// 		padding: 8px 0; 
	// 		width:420px;
	// 	}

	// 	.image-area {
	// 		text-align: center;
	// 		margin: 16px 0 24px;
	// 		display: none;

	// 		@include breakpoint(tablet) {
	// 			display: block;
	// 		}

	// 		img {
	// 			display: inline-block;
	// 			vertical-align: middle;
	// 		}
	// 	}

	// 	.list-group {
	// 		margin: 0 0 16px;

	// 		&:last-child {
	// 			margin: 0;
	// 		}
	// 	}

	// 	.label-title {
	// 		margin: 0 0 8px;
	// 	}

	// 	a {
	// 		color: $tosca;
	// 		display: inline-block;

	// 		&:hover {
	// 			color: $secondary;
	// 		}
	// 	}

	// 	h6 {
	// 		font-size: 0.9em;
	// 		margin:0;
	// 		color: $text;
	// 		line-height: 180%;
			
	// 		@include breakpoint(tablet) {
	// 			font-size: 1em;
	// 		}
	// 	}

	// 	.col-sm-6 { 
	// 		padding: 0;

	// 		@include breakpoint(tablet) {
	// 			padding: 0 15px;
	// 		}

	// 		&:last-child {
	// 			margin: 16px 0 0;

	// 			@include breakpoint(tablet) {
	// 				margin: 0;
	// 			}
	// 		}
	// 	}
	// }

}

#map-canvas {
	height: 220px;
	background-color: $bg-gray;
	
	@include breakpoint(tablet) {
		height: 300px;
	}
}

#map-footer {
	position: absolute; 
	z-index: 2;
	top: initial;
	bottom: 0;
	left: 0;
	right: 0;
	height: 96px;
	pointer-events: none;
	background:-moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)));
	background:-webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
	background:-o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
	background:-ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
	background:linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}