.numerical {
	font-size: 2.6em;
    position: relative;
    display: inline-block;
    color: $secondary;
    line-height: 100%;
    font-family: poppins-medium;

    &:before,
    &:after {
        content: '';
        font-size: .4em;
        line-height: 100%;
        margin: 2px 0 0;
    }

    &:before {
        margin-right: 7px;
        float: left;
    }
    &:after {
        margin-left: 4px;
        float: right;
    }

	&.price {
	    &:before {
	        content: attr(data-currency);
	    }
	    &:after {
	        content: attr(data-decimal);
	    }
	}
}
