
@@include('../Shared/header-home.html')


<div class="full-page">
	<section class="detail-article">
		<div class="cover wow fadeInUp" style="background-image: url('assets/img/img-thumb1.jpg');">
			<div class="desc">
				<h5 class="label-title">About Us</h5>
				<h3>
					Our motto is <br>
					“Rediscover Joyful and Healthy Living”
				</h3>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="detail wow fadeInUp">
			<div class="container">
				<div class="title-area">
					<h5 class="label-title">About Us</h5>
				</div>
				<div class="content-area">
					<p>
						Degung Hillside is a new cottage and resto located at Desa Cibedug, just a short drive away from toll gate Ciawi and also accessible via two different routes either to Puncak or to Ciawi-Sukabumi. Surrounded by stunning beauty and vivid presence of Mount Pangrango and Mount Salak, along with the splendid/exceptional view of Ciawi area of the hills.
					</p>
					<p>
						In this serene environment, Degunghillside is your picture-perfect weekend getaway and outing programs. The countryside cottages &amp; resto will over the perfect blend of scenic vacation &amp; outing activities; meeting, fun outdoor activities &amp; rejuvenating wellness &amp; spiritual programs in a Family, Communities, employees &amp; students.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')