
@@include('../Shared/header.html')


<div class="content-page">
	<section class="gallery blog-detail wow fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="detail-blog-area">
						<div class="wrapper">
							<div class="info-area">
								<h3 class="title">
									<a href="blog-detail.html">A Tour of the Hotel with the Director, Part Two.</a>
								</h3>
								<div class="tag-social">
									<div class="tag-area">
										<span class="date">Monday, 12 Juni 2017</span>
										<ul class="tag">
											<li>
												<a href="blog-category.html">Tour</a>
											</li>
											<li>
												<a href="blog-category.html">Vacation</a>
											</li>
										</ul>
									</div>
									<div class="social-share">
										<ul class="flat">
											<li class="fb">
												<a href="javascript:void(0)">
													<i class="fa fa-facebook"></i>
												</a>
											</li>
											<li class="tw">
												<a href="javascript:void(0)">
													<i class="fa fa-twitter"></i>
												</a>
											</li>
											<li class="pin">
												<a href="javascript:void(0)">
													<i class="fa fa-pinterest-p"></i>
												</a>
											</li>
											<li class="gplus">
												<a href="javascript:void(0)">
													<i class="fa fa-google-plus"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="content-area">
								<img src="assets/img/img-thumb1.jpg" alt="">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<div class="social-share">
									<span>Share:</span>
									<ul class="flat">
										<li class="fb">
											<a href="javascript:void(0)">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="tw">
											<a href="javascript:void(0)">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li class="pin">
											<a href="javascript:void(0)">
												<i class="fa fa-pinterest-p"></i>
											</a>
										</li>
										<li class="gplus">
											<a href="javascript:void(0)">
												<i class="fa fa-google-plus"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<aside class="sidebar">
						<div class="wrapper">
							<div class="side-group">
								<h5 class="label-title">Category</h5>
								<div class="list-item">
									<ul class="">
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>Tour</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>Vacation</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>Travel</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>Uncategorize</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="side-group">
								<h5 class="label-title">Recent Post</h5>
								<div class="list-item">
									<ul class="">
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>A Tour of the Hotel with the Director, Part One.</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>A Tour of the Hotel with the Director, Part Two.</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>A Tour of the Hotel with the Director, Part Three.</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-caret-right"></i>
												<span>A Tour of the Hotel with the Director, Part Four.</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')