
@@include('../Shared/header.html')


<div class="blogpage">
	<section id="blog" class="blog wow fadeInUp">
		<div class="container">
			<div class="nav-category">
				<div class="category-slide">
					<div class="slide">
						<a href="JavaScript:void(0);" class="active">Gaya hidup</a>
					</div>
					<div class="slide">
						<a href="JavaScript:void(0);">Kecantikan</a>
					</div>
					<div class="slide">
						<a href="JavaScript:void(0);">Kesehatan</a>
					</div>
					<div class="slide">
						<a href="JavaScript:void(0);">Ibu &amp; Anak</a>
					</div>
					<div class="slide">
						<a href="JavaScript:void(0);">Doctor</a>
					</div>
				</div>
			</div>
			<div class="desc-area">
				<h3 class="title center">
					Health &amp; beauty blog
					<hr>
				</h3>
				<p>We’ve put together a selection of recent articles to give you a sense of what to expect. Take a look and then sign up for access to over 100 editorial pieces.</p>
			</div>
			<div class="blog-list">
				<div class="grid row masonry">
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">Build Mental Strength</a>
									</h4>
									<p>The Book Will Help You: Improve your mental toughness for WODs and hard situations in life, Push through pain, discomfort and fatigue in workouts.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">8 Primal-Friendly Flours</a>
									</h4>
									<p>While I don’t recommend making Primalized versions of grain-based foods a staple, the fact remains that people love them.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">8 Reasons Why Low-Carb Diets Actually Work</a>
									</h4>
									<p>Reducing your carbohydrate intake lowers your insulin levels. Since insulin keeps fat locked into adipose tissue, lowering insulin can increase the amount of fat released to be burned for energy.</p>
									<p>For the portion of the overweight/obese population with insulin resistance and chronically-elevated insulin levels, this is a fairly accurate description of why low-carb diets work so well. </p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="image-area">
									<img src="assets/img/img-resto3.jpg" alt="">
								</div>
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">7 Reasons to Love Wheat</a>
									</h4>
									<p>Wheat gets a bad rap in the alternative health sphere, receiving blame from all sides. Today, I’m here to provide the other side.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="image-area">
									<img src="assets/img/mcd_img_8.png" alt="">
								</div>
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">Sardine Nicoise Salad</a>
									</h4>
									<p>Salade nicoise might just be the original “Big Ass Salad”. A French classic, Salade nicoise is a rainbow of ingredients arranged on top of lettuce: green beans.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">Resistant Starch Potato Salad</a>
									</h4>
									<p>This is a guest recipe from Caitlin Weeks, a holistic nutritionist, author and creator of the wellness hub Grassfedgirl.com.</p>
									<p>This recipe combines the benefits of resistant starch and the deliciousness of a classic potato salad. You’ll love this (easy) Primal upgrade to a barbecue favorite!</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">Resistant Starch Potato Salad</a>
									</h4>
									<p>This is a guest recipe from Caitlin Weeks, a holistic nutritionist, author and creator of the wellness hub Grassfedgirl.com.</p>
									<p>This recipe combines the benefits of resistant starch and the deliciousness of a classic potato salad. You’ll love this (easy) Primal upgrade to a barbecue favorite!</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">8 Primal-Friendly Flours</a>
									</h4>
									<p>While I don’t recommend making Primalized versions of grain-based foods a staple, the fact remains that people love them.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">Build Mental Strength</a>
									</h4>
									<p>The Book Will Help You: Improve your mental toughness for WODs and hard situations in life, Push through pain, discomfort and fatigue in workouts.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="image-area">
									<img src="assets/img/img-resto3.jpg" alt="">
								</div>
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">7 Reasons to Love Wheat</a>
									</h4>
									<p>Wheat gets a bad rap in the alternative health sphere, receiving blame from all sides. Today, I’m here to provide the other side.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="image-area">
									<img src="assets/img/mcd_img_8.png" alt="">
								</div>
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">Sardine Nicoise Salad</a>
									</h4>
									<p>Salade nicoise might just be the original “Big Ass Salad”. A French classic, Salade nicoise is a rainbow of ingredients arranged on top of lettuce: green beans.</p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="blog-detail.html">8 Reasons Why Low-Carb Diets Actually Work</a>
									</h4>
									<p>Reducing your carbohydrate intake lowers your insulin levels. Since insulin keeps fat locked into adipose tissue, lowering insulin can increase the amount of fat released to be burned for energy.</p>
									<p>For the portion of the overweight/obese population with insulin resistance and chronically-elevated insulin levels, this is a fairly accurate description of why low-carb diets work so well. </p>
									<div class="link-action">
										<a href="blog-detail.html">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')