
@@include('../Shared/header.html')


<div class="content-page">
	<section class="gallery blog detail-article">
		<div class="container">
			<div class="title-area">
				<h5 class="label-title">Blog</h5>
			</div>
			<div class="row thumbnail-info wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-image">
							<a href="blog-detail.html" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
									<span class="hover-info">Read More</span>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<span class="date">26 Juni 2017</span>
						<ul class="tag">
							<li>
								<a href="blog-category.html">Tour</a>
							</li>
							<li>
								<a href="blog-category.html">Vacation</a>
							</li>
						</ul>
						<div class="desc-area">
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part Two.</a>
							</h3>
							<p>
								Villa dengan satu kamar tidur ini memberikan segala privasi yang anda butuhkan dan juga kesempatan untuk menikmati pemandangan sawah dan perkebunan , masing-masing villa...
							</p>
						</div>
						<div class="link-area">
							<a href="blog-detail.html">
								<span>Read More</span>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row thumbnail-info right-style wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-image">
							<a href="blog-detail.html" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-resto1.jpg');">
									<span class="hover-info">Read More</span>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<span class="date">26 Juni 2017</span>
						<ul class="tag">
							<li>
								<a href="blog-category.html">Tour</a>
							</li>
							<li>
								<a href="blog-category.html">Vacation</a>
							</li>
						</ul>
						<div class="desc-area">
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part Two.</a>
							</h3>
							<p>
								Villa dengan satu kamar tidur ini memberikan segala privasi yang anda butuhkan dan juga kesempatan untuk menikmati pemandangan sawah dan perkebunan , masing-masing villa...
							</p>
						</div>
						<div class="link-area">
							<a href="blog-detail.html">
								<span>Read More</span>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row thumbnail-info wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-image">
							<a href="blog-detail.html" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-school_outings.jpg');">
									<span class="hover-info">Read More</span>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<span class="date">26 Juni 2017</span>
						<ul class="tag">
							<li>
								<a href="blog-category.html">Tour</a>
							</li>
							<li>
								<a href="blog-category.html">Vacation</a>
							</li>
						</ul>
						<div class="desc-area">
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part Two.</a>
							</h3>
							<p>
								Villa dengan satu kamar tidur ini memberikan segala privasi yang anda butuhkan dan juga kesempatan untuk menikmati pemandangan sawah dan perkebunan , masing-masing villa...
							</p>
						</div>
						<div class="link-area">
							<a href="blog-detail.html">
								<span>Read More</span>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row thumbnail-info right-style wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-image">
							<a href="blog-detail.html" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-corporate_days_out.jpg');">
									<span class="hover-info">Read More</span>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<span class="date">26 Juni 2017</span>
						<ul class="tag">
							<li>
								<a href="blog-category.html">Tour</a>
							</li>
							<li>
								<a href="blog-category.html">Vacation</a>
							</li>
						</ul>
						<div class="desc-area">
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part Two.</a>
							</h3>
							<p>
								Villa dengan satu kamar tidur ini memberikan segala privasi yang anda butuhkan dan juga kesempatan untuk menikmati pemandangan sawah dan perkebunan , masing-masing villa...
							</p>
						</div>
						<div class="link-area">
							<a href="blog-detail.html">
								<span>Read More</span>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="loadmore wow fadeInUp">
				<a href="javascript:void(0)" class="button more">Load More</a>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')