
@@include('../Shared/header.html')


<div class="blogdetailpage">
	<section class="blog detail wow fadeInUp">
		<div class="container">
			<div class="blog-detail-area">
				<div class="title-area">
					<h5>Health &amp; beauty blog</h5>
					<h3 class="title smaller">
						Orangtua Sebaiknya Mengenali Jenis-Jenis Bullying Ini
					</h3>
					<span class="date">18 Juli 2017</span>

					<div class="head-info row">
						<div class="head-left">
							<div class="avatar">
								<a href="#" class="image" style="background-image: url('assets/img/mcd_img_8.jpeg');"></a>
							</div>
							<div class="name-tag">
								<h6 class="name">
									<a href="#">Yuniska Putri</a>
								</h6>
								<ul class="tag">
									<li>
										<a href="#">Ibu &amp; Anak</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="head-right">
							<div class="share-area">
								<span class="label-menu">Share:</span>
								<ul class="social-media flat">
									<li>
										<a href="#" target="_blank" class="instagram">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank" class="facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank" class="twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank" class="youtube">
											<i class="fa fa-youtube-play"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="menu-right">
								<div class="comment-count">
									<i class="fa fa-comment-o"></i>
									<span>0</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-area">
					<p>
						Hingga saat ini kata bully masih begitu populer di tengah masyarakat Indonesia. Bahkan tindakan tercela ini masih kerap kita jumpai dilakukan oleh anak-anak, remaja, hingga orang dewasa sekalipun. Baru-baru ini Medika Friends pun melihat sendiri kan, tindakan bullying yang dilakukan oleh beberapa oknum mahasiswa yang sempat viral di media sosial. Lantas apa sih yang dimaksud dengan bullying? Dan apa tindakan yang termasuk di dalamnya?
					</p>
					<p>
						Dikatakan psikolog Saskhya Aulia Prima, bullying adalah tindakan yang dapat berupa ucapan atau  tindakan yang membuat orang merasa tersakiti. Tindakan yang dilakukan tersebut bisa ada agresi di dalamnya, yaitu tindakan yang membahayakan, merusak, dan menyengsarakan suatu objek. “Namun banyak yang tidak sadar kalau yang dilakukan itu adalah bullying,” ujar Saskhya.
					</p>
					<p>
						Pada dasarnya bullying dapat terjadi pada kelompok umur mana saja, mulai dari anak TK hingga di kelompok pekerja. Dan biasanya bullying di dunia kerja juga dikategorikan sebagai power abuse
					</p>
					<p>
						Dalam kesempatan yang sama Saskhya juga mengatakan bahwa bentuk bullying ada beberapa macam, yaitu yang umum terjadi adalah berupa perbuatan atau physical bullying, kemudian ucapan atau verbal bullying, dan berupa text atau yang termasuk dalam cyber bullying.
					</p>
					<p>
						Physical bullying biasanya melibatkan kontak fisik antara pelaku dan korban, misalnya menampar, menjambak, mendorong, maupun merusak barang-barang yang dimiliki korban. Sedangkan verbal bullying adalah dimana pelaku melakukan intimidasi berupa omongan kepada korban, dengan mengata-ngatai, menghina, atau memberi julukan yang buruk. Sementara cyber bullying yang saat ini paling sering dilakukan merupakan tindakan berupa mengirimkan kata-kata kasar maupun gambar yang tidak pantas di text message atau melalui media sosial.
					</p>
					<p>
						Jika dibiarkan, bullying akan menimbulkan dampak baik bagi pelaku maupun korbannya. Bagi pelaku akan lebih berdampak ke arah fungsi sosial, misalnya orang-orang akan menjauhi dia. Sedangkan bagi korban, biasanya ia akan merasa terancam dan ketakukan, yang terkadang membuat stress dan depresi, sehingga menghambat prestasi dan kemajuannya.
					</p>
				</div>

				<div class="share-bottom">
					<div class="share-area">
						<span class="label-menu">Share:</span>
						<ul class="social-media flat">
							<li>
								<a href="#" target="_blank" class="instagram">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="youtube">
									<i class="fa fa-youtube-play"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>


				<!-- DISQUS HERE -->
				<div class="comment-area">
					
				</div>
				<!-- END DISQUS -->

			</div>
			<aside class="sidebar">
				<div class="wrapper">
					<div class="side-group">
						<h5>Newest Article</h5>
						<hr>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/mcd_img_8.jpeg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Ibu &amp; Anak</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Orangtua Sebaiknya Mengenali Jenis-Jenis Bullying Ini</a>
								</h6>
							</div>
						</div>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/img-resto1.jpg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Makanan Sehat</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Resistant Starch Potato Salad</a>
								</h6>
							</div>
						</div>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/mcd_img_8.jpeg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Ibu &amp; Anak</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Orangtua Sebaiknya Mengenali Jenis-Jenis Bullying Ini</a>
								</h6>
							</div>
						</div>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/img-resto1.jpg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Makanan Sehat</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Resistant Starch Potato Salad</a>
								</h6>
							</div>
						</div>
					</div>
					<div class="side-group">
						<h5>Most Popular</h5>
						<hr>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/mcd_img_8.jpeg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Ibu &amp; Anak</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Orangtua Sebaiknya Mengenali Jenis-Jenis Bullying Ini</a>
								</h6>
							</div>
						</div>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/img-resto1.jpg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Makanan Sehat</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Resistant Starch Potato Salad</a>
								</h6>
							</div>
						</div>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/mcd_img_8.jpeg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Ibu &amp; Anak</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Orangtua Sebaiknya Mengenali Jenis-Jenis Bullying Ini</a>
								</h6>
							</div>
						</div>
						<div class="list-area">
							<div class="image-area">
								<a href="#" class="image" style="background-image: url('assets/img/img-resto1.jpg');"></a>
							</div>
							<div class="content-area">
								<ul class="tag">
									<li>
										<a href="#">Makanan Sehat</a>
									</li>
									<li>
										<a href="#">Kesehatan Jiwa</a>
									</li>
								</ul>
								<h6>
									<a href="#">Resistant Starch Potato Salad</a>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</aside>
			
		</div>
	</section>
</div>


@@include('../Shared/footer.html')