
@@include('../Shared/header.html')


<div class="careerpage">
	<section class="career detail wow fadeInUp">
		<div class="container">
			<div class="title-area">
				<h5>Career</h5>
				<h3 class="title smaller">
					Web Developer
				</h3>
				<p>
					Want to join our team? Medika Platform is hiring! <br>
					And we’re always looking for new amazing people to work with.
				</p>
			</div>
			<div class="career-area">
				<div class="career-form">
					<form action="" class="form-career form-area">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Name" name="name" required>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Your Email" name="email" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Number" name="phone" required>
						</div>
						<div class="form-group ">
							<div class="input-text">
								<input type="text" class="form-control datepicker" placeholder="Date of Birth" name="dob" required>
								<i class="icon-down fa fa-angle-down"></i>
							</div>
						</div>
						<div class="form-group">
							<textarea class="form-control" name="request" placeholder="Your Message"></textarea>
						</div>
						<div class="form-group">
							<div class="cv-upload">
								<input type="file" name="fileUploadCV1" id="fileUploadCV1" class="custominputfile custominputfile-3">
								<label for="fileUploadCV1">
									<i class="fa fa-upload"></i>
									<div class="upload-file">
										<span>Please Attach Your CV Here</span> 
										<small>(max. 5mb)</small>
									</div>
								</label>
							</div>
						</div>
						<div class="button-area center">
							<button type="submit" class="button">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')