
@@include('../Shared/header.html')


<div class="careerpage">
	<section class="career detail wow fadeInUp">
		<div class="container">
			<div class="title-area">
				<h5>Career</h5>
				<h3 class="title smaller">
					Build the feature <br>
					of healthcare
				</h3>
				<p>
					Want to join our team? Medika Platform is hiring! <br>
					And we’re always looking for new amazing people to work with.
				</p>
			</div>
			<div class="career-area">
				<div id="accordion" class="list-accordion panel-group">
					<div class="panel panel-default">
						<div class="card-header" role="tab" id="job-1">
							<h5>
								<a data-toggle="collapse" data-parent="#accordion" href="#job-desc-1">
									Web Developer
									<i class="fa fa-chevron-circle-down"></i>
								</a>
							</h5>
						</div>
						<div id="job-desc-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="job-1">
							<div class="list-group-wrapper">
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Seniority:</strong>
										</h6>
										<p>Mid Level</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Location:</strong>
										</h6>
										<p>Jakarta</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<p>
											Medika Platform is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Responsibility</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Skills &amp; experience</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Benefits</strong>
										</h6>
										<ul>
											<li>
												<p>Highly competitive package</p>
											</li>
											<li>
												<p>25 days of annual holiday</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="button-area">
										<a href="career-detail.html" class="button">Apply</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="card-header" role="tab" id="job-2">
							<h5>
								<a data-toggle="collapse" data-parent="#accordion" href="#job-desc-2">
									UI / UX Designer
									<i class="fa fa-chevron-circle-down"></i>
								</a>
							</h5>
						</div>
						<div id="job-desc-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="job-2">
							<div class="list-group-wrapper">
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Seniority:</strong>
										</h6>
										<p>Mid Level</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Location:</strong>
										</h6>
										<p>Jakarta</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<p>
											Medika Platform is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Responsibility</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Skills &amp; experience</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Benefits</strong>
										</h6>
										<ul>
											<li>
												<p>Highly competitive package</p>
											</li>
											<li>
												<p>25 days of annual holiday</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="button-area">
										<a href="career-detail.html" class="button">Apply</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="card-header" role="tab" id="job-3">
							<h5>
								<a data-toggle="collapse" data-parent="#accordion" href="#job-desc-3">
									Account Executive
									<i class="fa fa-chevron-circle-down"></i>
								</a>
							</h5>
						</div>
						<div id="job-desc-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="job-3">
							<div class="list-group-wrapper">
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Seniority:</strong>
										</h6>
										<p>Mid Level</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Location:</strong>
										</h6>
										<p>Jakarta</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<p>
											Medika Platform is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Responsibility</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Skills &amp; experience</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Benefits</strong>
										</h6>
										<ul>
											<li>
												<p>Highly competitive package</p>
											</li>
											<li>
												<p>25 days of annual holiday</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="button-area">
										<a href="career-detail.html" class="button">Apply</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="card-header" role="tab" id="job-4">
							<h5>
								<a data-toggle="collapse" data-parent="#accordion" href="#job-desc-4">
									Android Developer
									<i class="fa fa-chevron-circle-down"></i>
								</a>
							</h5>
						</div>
						<div id="job-desc-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="job-4">
							<div class="list-group-wrapper">
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Seniority:</strong>
										</h6>
										<p>Mid Level</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Location:</strong>
										</h6>
										<p>Jakarta</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<p>
											Medika Platform is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Responsibility</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Skills &amp; experience</strong>
										</h6>
										<ul>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
											<li>
												<p>Lorem Ipsum is simply dummy text</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="list-info">
										<h6>
											<strong>Benefits</strong>
										</h6>
										<ul>
											<li>
												<p>Highly competitive package</p>
											</li>
											<li>
												<p>25 days of annual holiday</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="list-group">
									<div class="button-area">
										<a href="career-detail.html" class="button">Apply</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')