
@@include('../Shared/header.html')


<div class="content-page">
	<section class="gallery room-facility">
		<div class="container">
			<div class="row thumbnail-info wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-slide">
							<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb2.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<h5 class="label-title">Room</h5>
						<div class="info-detail">
							<h3 class="title">Kecapi</h3>
							<p>
								Villa dengan satu kamar tidur ini memberikan segala privasi yang anda butuhkan dan juga kesempatan untuk menikmati pemandangan sawah dan perkebunan.
							</p>
						</div>
						<div class="facility-list">
							<h5>Facility</h5>
							<div class="row">
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Kapasitas untuk 2 orang</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Sarapan untuk 2 orang</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>LED TV</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>AC</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Shower</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Toiletries</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Coffee &amp; Tea</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Gazebo</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Welcome Drink</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row thumbnail-info right-style wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-slide">
							<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb2.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<h5 class="label-title">Room</h5>
						<div class="info-detail">
							<h3 class="title">Suling</h3>
						</div>
						<div class="facility-list">
							<h5>Facility</h5>
							<div class="row">
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Tiap Unit terdapat 3 kamar</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Sarapan untuk 6 orang</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>LED TV</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>AC</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Toiletries</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Coffee &amp; Tea</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Terrace</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Welcome Drink</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row thumbnail-info wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-slide">
							<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb2.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<h5 class="label-title">Room</h5>
						<div class="info-detail">
							<h3 class="title">Saron</h3>
						</div>
						<div class="facility-list">
							<h5>Facility</h5>
							<div class="row">
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Tiap Unit terdapat 8 kamar</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Sarapan untuk 16 orang</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>42" LED TV in livingroom</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>AC</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Toiletries</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Coffee &amp; Tea</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Terrace</span>
										</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="wrapper">
										<p>
											<i class="fa fa-caret-right"></i>
											<span>Welcome Drink</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row thumbnail-info right-style wow fadeInUp">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-slide">
							<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb2.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<h5 class="label-title">Activity</h5>
						<div class="info-detail">
							<h3 class="title">Family Days Out Gathering</h3>
							<p>
								Degung Hillside merupakan pilihan tepat bagi anda yang sedang mencari suasana baru untuk menciptakankeakraban dan kebersamaan keluarga . Kami memiliki fasilitas indoor dan outdoor yang lengkap untuk dapat menunjang segala aktifitas anda serta kolega. Anda dapat membuat perencanaan aktifitas anda sendiri atau menyerahkannya kepada team kami yang berkompetensi dan berpengalaman dalam membangun kekompakan dasn keharmonisan team keluarga besar anda
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="loadmore wow fadeInUp">
				<a href="javascript:void(0)" class="button more">Load More</a>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')