
@@include('../Shared/header.html')


<div class="content-page">
	<section class="gallery-section">
		<div class="container">
			<div class="gallery-thumbnails">
				<div class="list-gallery-group wow fadeInUp">
					<div class="title-area">
						<h5 class="label-title">Room</h5>
						<a class="more" href="gallery-room.html">
							<span>View All</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					<div class="row">
						<a href="https://www.youtube.com/watch?v=6NDYf3RZ1eY" class="list-gallery vid-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('https://img.youtube.com/vi/6NDYf3RZ1eY/maxresdefault.jpg');">
								<span class="hover-info">Kecapi</span>
								<div class="overlay"></div>
								<div class="play-button"></div>
							</div>
						</a>
						<a href="assets/img/img-thumb2.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
								<span class="hover-info">Suling</span>
								<div class="overlay"></div>
							</div>
						</a>
						<a href="https://www.youtube.com/watch?v=yltlJEdSAHw" class="list-gallery vid-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('https://img.youtube.com/vi/yltlJEdSAHw/maxresdefault.jpg');">
								<span class="hover-info">Kecapi</span>
								<div class="overlay"></div>
								<div class="play-button"></div>
							</div>
						</a>
						<a href="assets/img/img-thumb1.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
								<span class="hover-info">Suling</span>
								<div class="overlay"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="list-gallery-group wow fadeInUp">
					<div class="title-area">
						<h5 class="label-title">Dining</h5>
						<a class="more" href="gallery-room.html">
							<span>View All</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					<div class="row">
						<a href="assets/img/img-resto1.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-resto1.jpg');">
								<span class="hover-info">Menu 1</span>
								<div class="overlay"></div>
							</div>
						</a>
						<a href="assets/img/img-resto2.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-resto2.jpg');">
								<span class="hover-info">Menu 2</span>
								<div class="overlay"></div>
							</div>
						</a>
						<a href="assets/img/img-resto3.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-resto3.jpg');">
								<span class="hover-info">Menu 3</span>
								<div class="overlay"></div>
							</div>
						</a>
						<a href="assets/img/img-resto3.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-resto3.jpg');">
								<span class="hover-info">Menu 4</span>
								<div class="overlay"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="list-gallery-group wow fadeInUp">
					<div class="title-area">
						<h5 class="label-title">Activities</h5>
						<a class="more" href="gallery-room.html">
							<span>View All</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					<div class="row">
						<a href="assets/img/img-school_outings.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-corporate_days_out.jpg');">
								<span class="hover-info">Corporate Days Out</span>
								<div class="overlay"></div>
							</div>
						</a>
						<a href="assets/img/img-family_camp.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-school_outings.jpg');">
								<span class="hover-info">School Outings</span>
								<div class="overlay"></div>
							</div>
						</a>
						<a href="assets/img/img-corporate_days_out.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-family_camp.jpg');">
								<span class="hover-info">Family Camp</span>
								<div class="overlay"></div>
							</div>
						</a>
						<a href="assets/img/img-corporate_days_out.jpg" class="list-gallery col-xs-6 col-sm-3 col-md-3 bg-outline">
							<div class="image" style="background-image: url('assets/img/img-family_days_out2.jpg');">
								<span class="hover-info">Family Days Out</span>
								<div class="overlay"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')