
@@include('../Shared/header.html')


<div class="homepage">
	<section class="hero-banner wow fadeInUp">
		<div class="slider-banner" style="background-image: url('assets/img/img-resto1.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-banner1.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond 2</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-resto2.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond 3</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-resto3.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond 4</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
	</section>

	<section id="about" class="about wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Medika Platform
					<hr>
				</h3>
				<h5>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</h5>
			</div>
			<div class="video-area">
				<div class="media-wrapper">
					<div data-type="youtube" class="mediaplayer" data-plyr='{ "autoplay": false }' data-video-id="1-HXdPX6soA"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="products" class="products wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Our Products
					<hr>
				</h3>
				<p>It’s easy, simply with the Medika App to booking doctor.</p>
			</div>

			<div class="tab-area">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#medika-app" aria-controls="medika-app" role="tab" data-toggle="tab">
							<i class="fa fa-mobile"></i>
						</a>
					</li>
					<li role="presentation">
						<a href="#medika-desktop" aria-controls="medika-desktop" role="tab" data-toggle="tab">
							<i class="fa fa-desktop"></i>
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="medika-app">
						<h4 class="subtitle">Medika App</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text.</p>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="medika-desktop">
						<h4 class="subtitle">Medika Desktop</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-overlay"></div>
	</section>

	<section class="how-it-works wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					How it Works
					<hr>
				</h3>
				<p>It’s easy, simply with the Medika App to booking doctor.</p>
			</div>

			<div class="tab-area row">
				<div class="col-sm-6">
					<!-- Tab panes -->
					<div class="tab-content wow fadeInLeft" data-wow-delay="1s" >
						<div role="tabpanel" class="tab-pane tab-content fade in active" id="download-option">
							<!-- <div class="thumb-option image-download" style="background-image: url('assets/img/mcd_img_9.png');"></div> -->
							<img class="thumb-option image-download" src="assets/img/mcd_img_9.png" alt="">
						</div>
						<div role="tabpanel" class="tab-pane tab-content fade" id="find-option">
							<!-- <div class="thumb-option image-find" style="background-image: url('assets/img/mcd_img_9.png');"></div> -->
							<img class="thumb-option image-find" src="assets/img/mcd_img_9.png" alt="">
						</div>
						<div role="tabpanel" class="tab-pane tab-content fade" id="choose-option">
							<!-- <div class="thumb-option image-choose" style="background-image: url('assets/img/mcd_img_9.png');"></div> -->
							<img class="thumb-option image-choose" src="assets/img/mcd_img_9.png" alt="">
						</div>
						<div role="tabpanel" class="tab-pane tab-content fade" id="checkin-option">
							<!-- <div class="thumb-option image-checkin" style="background-image: url('assets/img/mcd_img_9.png');"></div> -->
							<img class="thumb-option image-checkin" src="assets/img/mcd_img_9.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs wow fadeInRight" role="tablist">
						<li role="presentation" class="active">
							<a href="#download-option" aria-controls="download-option" role="tab" data-toggle="tab">
								<span class="number">1</span>
								<span class="text">
									Download Medika App on Play Store and App store
								</span>
							</a>
						</li>
						<li role="presentation">
							<a href="#find-option" aria-controls="find-option" role="tab" data-toggle="tab">
								<span class="number">2</span>
								<span class="text">
									Find your Doctor
								</span>
							</a>
						</li>
						<li role="presentation">
							<a href="#choose-option" aria-controls="choose-option" role="tab" data-toggle="tab">
								<span class="number">3</span>
								<span class="text">
									Choose the right schedule for your appointment
								</span>
							</a>
						</li>
						<li role="presentation">
							<a href="#checkin-option" aria-controls="checkin-option" role="tab" data-toggle="tab">
								<span class="number">4</span>
								<span class="text">
									Check-in to the Hospital / Clinic Admission
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="features" class="features wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Our Features
					<hr>
				</h3>
				<p>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</p>
			</div>
			<div class="features-slide">
				<div class="wrapper">
					<div class="slide">
						<h3 class="heading">Health &amp; Beauty Blog</h3>
						<div class="image-area">
							<img class="image-top" src="assets/img/our_features/Icon_Blog.png" alt="">
							<img class="image-bottom" src="assets/img/our_features/mcd_img_features_iphone.png" alt="">
						</div>
					</div>
					<div class="slide">
						<h3 class="heading">Beauty &amp; Health Blog</h3>
						<div class="image-area">
							<img class="image-top" src="assets/img/our_features/Icon_Blog.png" alt="">
							<img class="image-bottom" src="assets/img/our_features/mcd_img_features_iphone.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="connect" class="media-info wow fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="image-area wow fadeInLeft" data-wow-delay="1s">
						<img src="assets/img/mcd_img_imacmacbook.png" alt="">
					</div>
				</div>
				<div class="col-sm-5">
					<div class="info-area wow fadeInRight">
						<h3 class="title smaller">
							Medika Connect
							<hr>
						</h3>
						<p>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="find-doctor" class="media-info right-style wow fadeInUp">
		<div class="container">
			<div class="bg-img wow fadeInRight" data-wow-delay="1s" style="background-image: url('assets/img/mcd_img_8.png')"></div>
			<div class="row">
				<div class="col-sm-5">
					<div class="info-area wow fadeInLeft">
						<h3 class="title smaller">
							Find doctor easily
							<hr>
						</h3>
						<p>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')