
@@include('../Shared/header.html')


<div class="homepage">
	<section class="hero-banner wow fadeInUp">
		<div class="slider-banner" style="background-image: url('assets/img/img-resto1.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-banner1.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond 2</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-resto2.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond 3</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-resto3.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h3>Shaping Better Healthcare Services Throughout Indonesia and Beyond 4</h3>
					<h6>We are Medika, a digital healthcare platform with aim to advance healthcare services by utilising seamless integration of people, information, technology and innovation.</h6>
					<ul class="button-area">
						<li>
							<a href="#" class="download-button google">Google</a>
						</li>
						<li>
							<a href="#" class="download-button appstore">App Store</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
	</section>

	<section id="about" class="about wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Medika Platform
					<hr>
				</h3>
				<h5>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</h5>
			</div>
			<div class="video-area">
				<div class="media-wrapper">
					<div data-type="youtube" class="mediaplayer" data-plyr='{ "autoplay": false }' data-video-id="1-HXdPX6soA"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="products" class="products wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Our Products
					<hr>
				</h3>
				<p>It’s easy, simply with the Medika App to booking doctor.</p>
			</div>

			<div class="tab-area">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#medika-app" aria-controls="medika-app" role="tab" data-toggle="tab">
							<i class="fa fa-mobile"></i>
						</a>
					</li>
					<li role="presentation">
						<a href="#medika-desktop" aria-controls="medika-desktop" role="tab" data-toggle="tab">
							<i class="fa fa-desktop"></i>
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="medika-app">
						<h4 class="subtitle">Medika App</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text.</p>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="medika-desktop">
						<h4 class="subtitle">Medika Desktop</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-overlay"></div>
	</section>

	<section class="how-it-works wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					How it Works
					<hr>
				</h3>
				<p>It’s easy, simply with the Medika App to booking doctor.</p>
			</div>

			<div class="tab-area row">
				<div class="col-sm-6">
					<!-- Tab panes -->
					<div class="tab-content" >
						<div role="tabpanel" class="tab-pane tab-content fade in active" id="download-option">
							<img class="thumb-option image-download" src="assets/img/mcd_img_9.png" alt="">
						</div>
						<div role="tabpanel" class="tab-pane tab-content fade" id="find-option">
							<img class="thumb-option image-find" src="assets/img/mcd_img_9.png" alt="">
						</div>
						<div role="tabpanel" class="tab-pane tab-content fade" id="choose-option">
							<img class="thumb-option image-choose" src="assets/img/mcd_img_9.png" alt="">
						</div>
						<div role="tabpanel" class="tab-pane tab-content fade" id="checkin-option">
							<img class="thumb-option image-checkin" src="assets/img/mcd_img_9.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#download-option" aria-controls="download-option" role="tab" data-toggle="tab">
								<span class="number">1</span>
								<span class="text">
									Download Medika App on Play Store and App store
								</span>
							</a>
						</li>
						<li role="presentation">
							<a href="#find-option" aria-controls="find-option" role="tab" data-toggle="tab">
								<span class="number">2</span>
								<span class="text">
									Find your Doctor
								</span>
							</a>
						</li>
						<li role="presentation">
							<a href="#choose-option" aria-controls="choose-option" role="tab" data-toggle="tab">
								<span class="number">3</span>
								<span class="text">
									Choose the right schedule for your appointment
								</span>
							</a>
						</li>
						<li role="presentation">
							<a href="#checkin-option" aria-controls="checkin-option" role="tab" data-toggle="tab">
								<span class="number">4</span>
								<span class="text">
									Check-in to the Hospital / Clinic Admission
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="features" class="features wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Our Features
					<hr>
				</h3>
				<p>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</p>
			</div>
			<div class="features-slide">
				<div class="wrapper">
					<div class="slide">
						<h3 class="heading">Health &amp; Beauty Blog</h3>
						<div class="image-area">
							<img class="image-top" src="assets/img/our_features/Icon_Blog.png" alt="">
							<img class="image-bottom" src="assets/img/our_features/mcd_img_features_iphone.png" alt="">
						</div>
					</div>
					<div class="slide">
						<h3 class="heading">Beauty &amp; Health Blog</h3>
						<div class="image-area">
							<img class="image-top" src="assets/img/our_features/Icon_Blog.png" alt="">
							<img class="image-bottom" src="assets/img/our_features/mcd_img_features_iphone.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="connect" class="media-info wow fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="image-area">
						<img src="assets/img/mcd_img_imacmacbook.png" alt="">
					</div>
				</div>
				<div class="col-sm-5">
					<div class="info-area">
						<h3 class="title smaller">
							Medika Connect
							<hr>
						</h3>
						<p>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="find-doctor" class="media-info right-style wow fadeInUp">
		<div class="container">
			<div class="bg-img" style="background-image: url('assets/img/mcd_img_8.png')"></div>
			<div class="row">
				<div class="col-sm-5">
					<div class="info-area">
						<h3 class="title smaller">
							Find doctor easily
							<hr>
						</h3>
						<p>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="promo" class="promo wow fadeInUp">
		<div class="container">
			<div class="thumbnails model-2 wrapper">
				<div class="row">
					<div class="col-sm-4 col-md-3">
						<div class="wrapper">
							<div class="info-area">
								<h3 class="title smaller">
									Our promo this week
									<hr>
								</h3>
								<p>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-8 col-md-9">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_8.jpeg')"></div>
											<!-- <span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span> -->
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<div class="info-promo">
												<div class="image-promo" style="background-image: url('assets/img/hospital_partner/mcd_img_logo_prosmile.png')"></div>
												<p>Dental Treatment Packages by DC Dentist</p>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_7.jpg')"></div>
											<!-- <span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span> -->
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<div class="info-promo">
												<div class="image-promo" style="background-image: url('assets/img/hospital_partner/mcd_img_logo_prosmile.png')"></div>
												<p>Dental Treatment Packages by DC Dentist</p>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_6.jpg')"></div>
											<!-- <span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span> -->
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<div class="info-promo">
												<div class="image-promo" style="background-image: url('assets/img/hospital_partner/mcd_img_logo_prosmile.png')"></div>
												<p>Dental Treatment Packages by DC Dentist</p>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="button-area center">
					<a href="promo.html" class="button">See More</a>
				</div>
			</div>
		</div>
	</section>
	
	<section id="blog" class="blog wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Health &amp; beauty blog
					<hr>
				</h3>
				<p>We’ve put together a selection of recent articles to give you a sense of what to expect. Take a look and then sign up for access to over 100 editorial pieces.</p>
			</div>
			<div class="blog-list">
				<div class="grid row masonry">
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="#">Build Mental Strength</a>
									</h4>
									<p>The Book Will Help You: Improve your mental toughness for WODs and hard situations in life, Push through pain, discomfort and fatigue in workouts.</p>
									<div class="link-action">
										<a href="#">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="#">8 Primal-Friendly Flours</a>
									</h4>
									<p>While I don’t recommend making Primalized versions of grain-based foods a staple, the fact remains that people love them.</p>
									<div class="link-action">
										<a href="#">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="#">8 Reasons Why Low-Carb Diets Actually Work</a>
									</h4>
									<p>Reducing your carbohydrate intake lowers your insulin levels. Since insulin keeps fat locked into adipose tissue, lowering insulin can increase the amount of fat released to be burned for energy.</p>
									<p>For the portion of the overweight/obese population with insulin resistance and chronically-elevated insulin levels, this is a fairly accurate description of why low-carb diets work so well. </p>
									<div class="link-action">
										<a href="#">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="image-area">
									<img src="assets/img/img-resto3.jpg" alt="">
								</div>
								<div class="text-area">
									<h4>
										<a href="#">7 Reasons to Love Wheat</a>
									</h4>
									<p>Wheat gets a bad rap in the alternative health sphere, receiving blame from all sides. Today, I’m here to provide the other side.</p>
									<div class="link-action">
										<a href="#">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="image-area">
									<img src="assets/img/mcd_img_8.png" alt="">
								</div>
								<div class="text-area">
									<h4>
										<a href="#">Sardine Nicoise Salad</a>
									</h4>
									<p>Salade nicoise might just be the original “Big Ass Salad”. A French classic, Salade nicoise is a rainbow of ingredients arranged on top of lettuce: green beans.</p>
									<div class="link-action">
										<a href="#">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="content-wrapper">
							<div class="blog-item">
								<div class="text-area">
									<h4>
										<a href="#">Resistant Starch Potato Salad</a>
									</h4>
									<p>This is a guest recipe from Caitlin Weeks, a holistic nutritionist, author and creator of the wellness hub Grassfedgirl.com.</p>
									<p>This recipe combines the benefits of resistant starch and the deliciousness of a classic potato salad. You’ll love this (easy) Primal upgrade to a barbecue favorite!</p>
									<div class="link-action">
										<a href="#">
											<span>Read More</span>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="button-area center">
					<a href="#" class="button">See More</a>
				</div>
			</div>
		</div>
	</section>

	<section id="partner" class="media-info wow fadeInUp">
		<div class="container">
			<div class="bg-img show-desktop" style="background-image: url('assets/img/img-corporate_days_out.jpg')"></div>
			<div class="row">
				<div class="col-md-6 col-md-offset-6">
					<div class="wrapper-content">
						<div class="info-area">
							<h3 class="title smaller">
								Our hospital partner
								<hr>
							</h3>
							<p>They are rely on us to fuel their grow.</p>
						</div>
						<div class="logo-area">
							<div class="logo-slide">
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_columbiaasia.jpg" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_dermaster.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_prosmile.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_rsmulya.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_theaestetic.jpg" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_dermaster.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_prosmile.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_rsmulya.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_columbiaasia.jpg" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_dermaster.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_prosmile.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_rsmulya.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_theaestetic.jpg" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_dermaster.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_prosmile.png" alt="">
										</div>
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<div class="wrapper">
											<img src="assets/img/hospital_partner/mcd_img_logo_rsmulya.png" alt="">
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="quotes wow fadeInUp">
		<div class="container">
			<div class="quotes-area">
				<div class="quotes-slide">
					<div class="wrapper">
						<i class="icon-quotes fa fa-quote-left"></i>
						<div class="quotes-text">
							<h5>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</h5>
						</div>
						<div class="quotes-info">
							<hr>
							<h6>Dr. Aris</h6>
							<p>Director of RS. ABC</p>
						</div>
					</div>
				</div>
				<div class="quotes-slide">
					<div class="wrapper">
						<i class="icon-quotes fa fa-quote-left"></i>
						<div class="quotes-text">
							<h5>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</h5>
						</div>
						<div class="quotes-info">
							<hr>
							<h6>Dr. Aris</h6>
							<p>Director of RS. ABC</p>
						</div>
					</div>
				</div>
				<div class="quotes-slide">
					<div class="wrapper">
						<i class="icon-quotes fa fa-quote-left"></i>
						<div class="quotes-text">
							<h5>Just imagine – products, packaging, newspapers, posters, magazines, signage, tickets, billboards or locations - can all be transformed to become a video game, a social media hub, a video player or a 3D world.</h5>
						</div>
						<div class="quotes-info">
							<hr>
							<h6>Dr. Aris</h6>
							<p>Director of RS. ABC</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="media-partner" class="media-partner wow fadeInUp">
		<div class="container">
			<div class="desc-area">
				<h3 class="title center">
					Media Partner
					<hr>
				</h3>
				<p>We’ve put together a selection of recent articles to give you a sense of what to expect. Take a look and then sign up for access to over 100 editorial pieces.</p>
			</div>
			<div class="media-logo">
				<div class="wrapper">
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_bintang.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_bisnisindonesia.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_gatra.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_glitzmedia.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_investordaily.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_jakartapost.jpg" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_kaskus.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_kontan.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_koranjakarta.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_macroad.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_mediaindonesia.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_mix.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_netralnews.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_republika.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_sindo.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_swa.png" alt="">
							</div>
						</a>
					</div>
					<div class="image-logo">
						<a href="#">
							<div class="wrapper-image">
								<img src="assets/img/media_partner/mcd_img_media_wanitaindonesia.png" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="download-thumb" class="media-info wow fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="image-area">
						<img src="assets/img/mcd_image_iphone_android.png" alt="">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="info-area">
						<h3 class="title">
							Download medika app for free
							<hr>
						</h3>
						<p>Download the app today and experience hassle-free doctor appointments at selected clinics and hospitals, search nearest clinics and hospitals, and be informed to the latest health and beauty tips. Our app is free, so spread the words to friends and loved ones.</p>
						<ul class="download-link button-area">
							<li>
								<a href="#" class="download-button google">Google</a>
							</li>
							<li>
								<a href="#" class="download-button appstore">App Store</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="contact wow fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contact-info">
						<div class="top-info">
							<h3 class="title">
								Contact
								<hr>
							</h3>
							<p>We would love to hear from you. Get in touch!</p>
						</div>
						<div class="bottom-info">
							<div class="info-group">
								<i class="icon fa fa-map-marker"></i>
								<div class="text-area">
									<h6>Address</h6>
									<span>
										STC Senayan, Lantai 3 No. 168B <br>
										Jl. Asia Afrika No.41, RT.1/RW.3, Gelora, Tanah Abang, Kota Jakarta Pusat <br>
										Daerah Khusus Ibukota Jakarta 10270
									</span>
								</div>
							</div>
							<div class="info-group">
								<i class="icon fa fa-envelope"></i>
								<div class="text-area">
									<h6>Email</h6>
									<a href="mailto:info@medika-platform.com">
										<span>info@medika-platform.com</span>
									</a>
								</div>
							</div>
							<div class="info-group">
								<i class="icon fa fa-phone"></i>
								<div class="text-area">
									<h6>Phone</h6>
									<a href="tel:+622122057625">
										<span>+62 21 2205 7625</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-area form-contact">
						<div class="title-area">
							<h5>Questions? We are here to help!</h5>
							<p>Fill out the form below and we will answer you with no time.</p>
						</div>
						<form action="">
							<div class="form-group has-float-label">
								<input type="text" class="form-control" placeholder="Your Name" name="name" required>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Your Email" name="email" required>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="request" placeholder="Your Message"></textarea>
							</div>
							<div class="button-area center">
								<button type="submit" class="button">Send</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="job-link wow fadeInUp">
		<div class="row">
			<div class="col-sm-6">
				<a href="#" class="link blue">
					<span>Looking for a job?</span>
					<i class="fa fa-angle-double-right"></i>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="#" class="link dark-blue">
					<span>Want become our partner?</span>
					<i class="fa fa-angle-double-right"></i>
				</a>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')