
@@include('../Shared/header.html')


<div class="promopage">
	<section class="hero-banner wow fadeInUp">
		<div class="slider-banner" style="background-image: url('assets/img/img-banner-promo.jpg');">
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-resto1.jpg');">
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-resto2.jpg');">
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-resto3.jpg');">
			<div class="overlay"></div>
		</div>
	</section>

	<section class="promo promo-thumbnail wow fadeInUp">
		<article class="nav-promo">
			<div class="category">
				<div class="container">	
					<div class="category-wrapper">
						<div class="category-nav-slide">
							<div class="slide">
								<a href="JavaScript:void(0);" data-target="all-deals" class="active">All deals</a>
							</div>
							<div class="slide">
								<a href="JavaScript:void(0);" data-target="hospital">Hospital</a>
							</div>
							<div class="slide">
								<a href="JavaScript:void(0);" data-target="clinic">Clinic</a>
							</div>
							<div class="slide">
								<a href="JavaScript:void(0);" data-target="doctor">Doctor</a>
							</div>
							<div class="slide">
								<a href="JavaScript:void(0);" data-target="checkup">Medical checkup</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="sort">
				<div class="container">	
					<div class="sort-area row">
						<form action="" class="form-area">
							<div class="form-group">
								<select class="form-control">
									<option value="">Recommended</option>
									<option value="">Hot deals</option>
									<option value="">Discount</option>
								</select>
								<i class="icon-down fa fa-angle-down"></i>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>
		<article class="thumbnails wrapper">
			<div class="container">
				<div class="tab-content" >
					<div class="tab-content-area all-deals active" id="all-deals">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_8.jpeg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto2.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_6.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto1.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_7.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto3.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="button-area center">
							<a href="#" class="button">See More</a>
						</div>
					</div>
					<div class="tab-content-area hospital" id="hospital">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_8.jpeg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto2.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_6.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto1.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_7.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto3.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="button-area center">
							<a href="#" class="button">See More</a>
						</div>
					</div>
					<div class="tab-content-area clinic" id="clinic">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_8.jpeg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto2.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_6.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto1.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_7.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto3.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="button-area center">
							<a href="#" class="button">See More</a>
						</div>
					</div> 
					<div class="tab-content-area doctor" id="doctor">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_8.jpeg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto2.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_6.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto1.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_7.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto3.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="button-area center">
							<a href="#" class="button">See More</a>
						</div>
					</div>
					<div class="tab-content-area checkup" id="checkup">
						<div class="row">
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_8.jpeg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto2.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price">Rp. 350.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_6.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto1.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/mcd_img_7.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="wrapper">
									<div class="thumbnail-area">
										<div class="image-area">
											<div class="image" style="background-image: url('assets/img/img-resto3.jpg')"></div>
											<span class="badge hot">
												<i class="fa fa-thumbs-o-up"></i>
												<small>
													Hot <br>
													Deals
												</small>
											</span>
											<span class="badge discount">75% Off</span>
										</div>
										<div class="desc-area">
											<h6>Treatment Packages by DC Dentist</h6>
											<p>Dental Treatment Packages by DC Dentist</p>
											<div class="price-area">
												<span class="price before-disc">Rp. 350.000</span>
												<span class="price disc">Rp. 150.000</span>
											</div>
											<div class="link-action">
												<a href="#">
													<span>View</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</div>
										</div>
										<a href="#" class="click-area"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="button-area center">
							<a href="#" class="button">See More</a>
						</div>
					</div>
				</div>

			</div>
		</article>
	</section>
</div>


@@include('../Shared/footer.html')