
@@include('../Shared/header.html')


<div class="content-page">
	<section class="room-facility">
		<div class="container">
			<div class="facility-group">
				<div class="title-area">
					<h5 class="label-title">Room</h5>
				</div>
				<div class="room-facility-list">
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">Kecapi</h3>
										<h5 class="label-title">Facility</h5>
										<div class="row">
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Kapasitas untuk 2 orang</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Sarapan untuk 2 orang</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>LED TV</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>AC</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Shower</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Toiletries</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Coffee &amp; Tea</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Gazebo</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Welcome Drink</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">850</div>
									<span class="desc-price">/room/night</span>
									<span class="desc-info">(Double bedroom)</span>
								</div>

								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">Suling</h3>
										<h5 class="label-title">Facility</h5>
										<div class="row">
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Tiap Unit terdapat 3 kamar</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Sarapan untuk 6 orang</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>LED TV</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>AC</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Toiletries</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Coffee &amp; Tea</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Terrace</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Welcome Drink</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">1.500</div>
									<span class="desc-price">/room/night</span>
									<span class="desc-info">(Twin Share Bedroom)</span>
								</div>
								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">Saron</h3>
										<h5 class="label-title">Facility</h5>
										<div class="row">
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Tiap Unit terdapat 8 kamar</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Sarapan untuk 16 orang</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>42" LED TV in livingroom</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>AC</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Toiletries</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Coffee &amp; Tea</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Terrace</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Welcome Drink</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">4.000</div>
									<span class="desc-price">/room/night</span>
									<span class="desc-info">(Twin Share Bedroom)</span>
								</div>
								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="facility-group">
				<div class="title-area">
					<h5 class="label-title">Activity</h5>
				</div>
				<div class="room-facility-list">
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">Family Days Out Gathering</h3>
										<p>
											Degung Hillside merupakan pilihan tepat bagi anda yang sedang mencari suasana baru untuk menciptakankeakraban dan kebersamaan keluarga . Kami memiliki fasilitas indoor dan outdoor yang lengkap untuk dapat menunjang segala aktifitas anda serta kolega. Anda dapat membuat perencanaan aktifitas anda sendiri atau menyerahkannya kepada team kami yang berkompetensi dan berpengalaman dalam membangun kekompakan dasn keharmonisan team keluarga besar anda.
										</p>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">275</div>
									<span class="desc-price">/pax (min.16 pax)</span>
									<span class="desc-info">
										* Harga Termasuk : Akomodasi, 3x makan, free penggunaan amusement room selama 2 jam, penggunaan lapangan, dan api unggun
									</span>
								</div>

								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">Corporate Days Out</h3>
										<p>
											Untuk anda yang ingin mengadakan acara Office Outing, Degung Hillside merupakan tempat yang cocok untuk meningkatkan kebersamaan karyawan dan melepas stress. Kami juga memiliki team dan fasilitas outbound untuk team-building dan outbound training.
										</p>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">350</div>
									<span class="desc-price">/pax (min.16 pax)</span>
									<span class="desc-info">
										* Harga Termasuk : Akomodasi, 3x makan, 2x rehat kopi, free penggunaan amusement room selama 2 jam, penggunaan lapangan, outbond trainer, dan api unggun
									</span>
								</div>
								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">School Outings</h3>
										<p>
											Untuk putra-putri anda yang berada di bangku sekolah, Degung Hilside menawarkan school outings yang tidak hanya seru dan menyenangkan namun juga edukatif dan atraktif. Mulai dari acara menanam padi di sawah, pemancingan ikan, memetik buah. Kami juga memiliki fasilitas dan trainer outbound yang diperuntukkan untuk anak-anak.
										</p>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">250</div>
									<span class="desc-price">/pax (min.16 pax)</span>
									<span class="desc-info">
										* Aktifitas : Little Farmer, Pillow Battle, Fish Catching
									</span>
								</div>
								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">Family Camp</h3>
										<p>
											Untuk anda yang ingin mengadakan acara Office Outing, Degung Hillside merupakan tempat yang cocok untuk meningkatkan kebersamaan karyawan dan melepas stress. Kami juga memiliki team dan fasilitas outbound untuk team-building dan outbound training.
										</p>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">200</div>
									<span class="desc-price">/pax</span>
									<span class="desc-info">
										* Benefit : Tent untuk 4 orang, bantal, kasur busa, selimut, lentera, obor, 3x makan (Ngeliwet), penggunaan lapangan, api unggun
									</span>
								</div>
								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item wow fadeInUp">
						<div class="row item-info">
							<div class="image-area col-md-4 col-sm-12">
								<div class="wrapper">
									<div class="gallery-slide">
										<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb1.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
										<a href="assets/img/img-thumb2.jpg" class="bg-outline">
											<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
												<span class="hover-info">View</span>
												<i class="icon fa fa-clone"></i>
											</div>
											<div class="overlay"></div>
										</a>
									</div>
								</div>
							</div>
							<div class="info-thumb col-md-5 col-sm-6">
								<div class="wrapper">
									<div class="facility-list">
										<h3 class="title">Any Full day Activity <small>(non overstay)</small></h3>
										<div class="row">
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Welcome drink</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Makan Siang</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>1x Rehat Kopi</span>
													</p>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wrapper">
													<p>
														<i class="fa fa-caret-right"></i>
														<span>Penggunaan Lapangan</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="price-book col-md-3 col-sm-6">
								<div class="price-area">
									<div class="numerical price" data-currency="Rp" data-decimal=".000">150</div>
									<span class="desc-price">/pax</span>
									<span class="desc-info">
										* Harga tidak termasuk biaya outbond trainer @ Rp. 50.000/pax (optional)
									</span>
								</div>
								<div class="button-area">
									<a href="form-booking.html" class="button">Booking</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="loadmore wow fadeInUp">
				<a href="javascript:void(0)" class="button more">Load More</a>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')