.blog {
    .desc-area {
    	margin: 0 0 40px;
		text-align: center;

		@include breakpoint(wide) {
			padding: 0 100px;
		}
    }

    .blog-list {
    	.grid {
    		margin: 0 auto;
    	}

    	.grid-item {
    		.content-wrapper {
    			padding: 10px 0;

				@include breakpoint(wide) {
					padding: 10px;
				}
    		}

    		&:nth-child(3n+2) {
    			.blog-item {
    				background-color: $secondary;

    				.text-area {
						color: $white;

						h4 {
							color: $white;

							a {
								color: $white;
							}
						}
					}
					.link-area {
						a {
							color: $white;
						}

						i {
							border-color: $white;
						}
					}
    			}
    		}

    		&:nth-child(3n+3) {
    			.blog-item {
    				background-color: $primary;

    				.text-area {
						color: $white;

						h4 {
							color: $white;

							a {
								color: $white;
							}
						}
					}
					.link-area {
						a {
							color: $white;
						}

						i {
							border-color: $white;
						}
					}
    			}
    		}
    	}

    	.blog-item {
			border-radius: 20px;
			box-shadow: 0 0px 5px rgba(54,54,54,0.3);
			background-color: $bg-gray;

    		@include breakpoint(wide) {
				width: 260px;
			}

			.image-area {
				background-color: $white;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;

				img {
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
				}
			}

    		.link-area {
    			margin: 24px 0 0;

    			a {
    				color: $text-darkgray;
    				text-transform: uppercase;
				    font-family: poppins-medium;

    				&:hover {
    					
						i {
							margin: 0 0 0 10px;
						}
					}
    			}

    			span {
					display: inline-block;
					vertical-align: middle;
				}

				i {
					width: 20px;
					height: 20px;
					line-height: 16px;
					border: 1px solid $text-darkgray;
					font-size: 0.9em;
					margin: 0 0 0 4px;
					text-align: center;
					vertical-align: middle;
					border-radius: 100%;
            		transition: margin cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
				}
    		}

    		.text-area {
    			padding: 24px 16px;
    			color: $text-darkgray;

    			h4 {
    				margin: 0 0 16px;
				    font-family: poppins-medium;
				    line-height: 140%;
				    letter-spacing: 0.5pt;

				    a {
				    	color: $text-darkgray;
				    }
    			}

    			p {
    				font-size: 0.9em;
    			}
    		}
    	}
    }
}