footer {
	background-color: $bg-gray;
	padding: 50px 0 20px;
	
	@include breakpoint(wide) {
		padding: 50px 0 30px;
	}
	.copyright {
		margin: 30px 0 0;
		font-size: 0.7em;
		letter-spacing: 0.5pt;
		text-align: center;
		line-height: 150%;
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			a {
				color: $text;

				&:hover {
					color: $secondary;
				}
			}

			span {
				display: inline-block;
				vertical-align: middle;
				padding: 2px 0 0;
			}

			i {
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				text-align: center;
				margin: 0 4px 0 0;
			}
		}
	}

	.col-md-9 {
		padding: 0;
	}

	.col-md-3 {
		padding: 0;
	}

	.nav-left {
		margin: 0 0 30px;

		@include breakpoint(tablet) {
			padding: 0 30px 0 0;
			float: left;
			width: 50%;
			margin: 0;
		}
	}

	.nav-right {
		@include breakpoint(tablet) {
			padding: 0 0 0 30px;
			float: left;
			width: 50%;
		}

		.nav-group-full {
			float: left;
			width: 50%;
			padding: 0 8px 0 0;

			@include breakpoint(tablet) {
				padding: 0 16px 0 0;
			}

			&:last-child {
				padding: 0 0 0 8px;

				@include breakpoint(tablet) {
					padding: 0 0 0 16px;
				}
			}		
		}
	}

	.nav-group {
		margin: 0 0 30px;

		&:last-child {
			margin: 0;
		}

		h6 {
			color: $text-darkgray;
			font-size: 1.1em;
			margin: 0 0 10px;
		}

		.form-newsletter {
			position: relative;

			@include breakpoint(wide) {
				width: 55%;
			}

			input[type="text"] {
				width: 100%;
				background-color: rgba(255, 255, 255, 0.9);
				padding: 8px 44px 8px 16px;
				color: #6b6c6e;
				outline: 0;
				border: 0;
				font-family: poppins-regular;
			}

			button {
				position: absolute;
				top: 50%;
				bottom: initial;
				right: 16px;
				left: initial;
				cursor: pointer;
			    line-height: 100%;
			    color: $primary;
			    outline: 0;
			    box-shadow: none;
				transition: all 0.3s linear;
				transform: translate(0, -50%);

				&:hover {
					color: $secondary;
				}
			}

			i {
				font-size: 1.4em;
				line-height: 100%;
			}
		}

		.download-link {
			display: table;
			width: 100%;

			@include breakpoint(tablet) {
				display: block;
			}

			li {
				width: 50%;
				margin: 0;
				padding: 0 8px 0 0;

				@include breakpoint(tablet) {
					width: auto;
				}

				&:last-child {
					padding: 0 0 0 8px;
				}
			}

			a {
				display: inline-block;
				width: 100%;
				height: 50px;
				text-indent: -6666em;
				-moz-background-size: contain;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;

				@include breakpoint(tablet) {
					width: 130px;
					height: 40px;
				}

				&.appstore {
					background-image: url('../img/mcd_button_playstore.png');
				}

				&.playstore {
					background-image: url('../img/mcd_button_appstore.png');
				}
			}
		}

		small {
			margin: 8px 0 0;
			display: block;
			letter-spacing: 0.5pt;

			a {
				text-decoration: underline;
			}
		}
	}

	.label-group {
		color: $text-darkgray;
	    font-family: poppins-medium;
	}

	.nav-list {
		margin: 0;
		
		li {
			margin: 0 0 8px;

			&:last-child {
				margin: 0;
			}
		}
	}

	.social {
		margin: 0;

		li {
			a {
				color: $primary;
			}

			span {
				padding: 0;
			}
			
			i {
				font-size: 1.4em;
				width: 18px;
			}
		}
	}
}