.promo {
	.nav-promo {
		position: relative;
		margin: 0 0 30px;

		.category {
			margin: 0 0 30px;
		}

		.category-wrapper {

		}

		.category-nav-slide {
			padding: 10px;
			border: 1px solid $border-soft-gray;
			border-radius: 10px;

			@include breakpoint(tablet) {
				padding: 10px 16px;
			}

			@include breakpoint(wide) {
				padding: 10px 20px;
			}

			&.show-desktop {
				list-style: none;
				
				@include breakpoint(wide) {
					display: table!important;
				}
			}

			.slick-dots {
				bottom: - 20px;
			}

			.slide {
				text-align: center;

				a {
					padding: 6px 12px;
					display: inline-block;
					border-radius: 10px;
					white-space: nowrap;

					@include breakpoint(tablet) {
					    font-size: 0.9em;
					}
					@include breakpoint(wide) {
					    font-size: 1em;
					}

					&.active {
						background-color: $primary;
						color: $white;
					}

					&:hover {
						@include breakpoint(wide) {
							background-color: $secondary;
							color: $white;
						}
					}
				}
			}
		}

		.sort-area {
			.form-area {
				@include breakpoint(tablet) {
					width: 250px;
					float: right;
				}
			}

			.form-group {
				margin: 0;
			}

			.jcf-select {
				margin: 0;
			}
		}

	}

	.tab-content {
		.tab-content-area {
			display: none;

			&.active {
				display: block;
			}
		}
	}
}