.promo {
	.nav-promo {
		position: relative;
		margin: 0 0 30px;

		.category {
			margin: 0 0 30px;
			// @include breakpoint(tablet) {
			// }
		}

		.category-wrapper {

		}

		.category-nav-slide {
			padding: 10px;
			border: 1px solid $border-soft-gray;
			// display: table;
			// width: 100%;
			border-radius: 10px;

			@include breakpoint(tablet) {
				padding: 10px 16px;
			}

			@include breakpoint(wide) {
				padding: 10px 20px;
			}

			&.show-desktop {
				list-style: none;
				
				@include breakpoint(wide) {
					display: table!important;
				}
			}

			.slick-dots {
				bottom: - 20px;
			}

			.slide {
				text-align: center;

				a {
					padding: 6px 12px;
					display: inline-block;
					border-radius: 10px;
					white-space: nowrap;

					@include breakpoint(tablet) {
					    font-size: 0.9em;
					}
					@include breakpoint(wide) {
					    font-size: 1em;
					}

					&.active {
						background-color: $primary;
						color: $white;
					}

					&:hover {
						background-color: $secondary;
						color: $white;
					}
				}
			}

			// li {
			// 	margin: 0 30px 0 0;
			// 	margin: 0;
			// 	width: 20%;
			// 	text-align: center;
			// 	float: left;

			// 	@include breakpoint(tablet) {
			// 		display: table-cell;
			// 		vertical-align: middle;
			// 		float: none;
			// 	}

			// 	a {
			// 		padding: 6px 12px;
			// 		display: inline-block;
			// 		border-radius: 10px;

			// 		&.active {
			// 			background-color: $primary;
			// 			color: $white;
			// 		}

			// 		&:hover {
			// 			background-color: $secondary;
			// 			color: $white;
			// 		}
			// 	}

			// 	&:last-child {
			// 		margin: 0;
			// 	}

			// 	&.active {
			// 		a {
			// 			background-color: $primary;
			// 			color: $white;
			// 		}
			// 	}
			// }
		}

		.sort-area {
			.form-area {
				@include breakpoint(tablet) {
					width: 250px;
					float: right;
					// position: absolute;
					// top: 50%;
					// bottom: initial;
					// left: initial;
					// right: 0;
					// transform: translate(0,-50%);
				}
			}

			.form-group {
				margin: 0;
			}

			.jcf-select {
				margin: 0;
			}
		}

	}

	.tab-content {
		.tab-content-area {
			display: none;

			&.active {
				display: block;
			}
		}
	}
}