.quotes {
	// background-color: $bg-default;

	.quotes-area {
		text-align: center;
		padding: 0 0 20px;

		.icon-quotes {
			position: absolute;
			top: 0;
			left: 0;
			right: initial;
			bottom: initial;
			font-size: 3em;
			opacity: 0.2;
			z-index: -1;
			pointer-events: none;
		}

		.wrapper {
			position: relative;
			padding: 20px 0;
			display: inline-block;

			@include breakpoint(tablet) {
				padding: 20px;
				width: 80%;
			}

			@include breakpoint(wide) {
				width: 70%;
			}
		}

		.quotes-text {
			margin: 0 0 30px;

			h5 {
				margin: 0;
				font-size: 1.1em;
				
				@include breakpoint(tablet) {
					font-size: 1.2em;
				}
			}
		}

		.quotes-info {
			hr {
				width: 30px;
				margin: 0 auto 30px;
				border-color: $text-darkgray;
			}

			p {
			    font-size: 0.8em;
			    color: $text;
			    margin: 4px 0 0;
			}

			h6 {
				font-size: 1em;
				margin: 0;
				font-family: poppins-medium;
				letter-spacing: 0.5pt;
			}
		}
	}
}