<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Medika Platform</title>

		<link rel="icon" type="image/png" href="assets/img/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="assets/img/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/img/favicon/favicon-96x96.png" sizes="96x96">

		<!-- Bootstrap -->
		<link href="assets/css/vendor.min.css" rel="stylesheet"> 
		<link href="assets/css/plugins.min.css" rel="stylesheet"> 
		<link href="assets/css/main.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<![endif]-->


	</head>
	<body class="onScroll full">

		<!-- HEADER -->
		<header class="wow fadeInDown">
			<!-- <div class="container"> -->
				<nav>
					<div class="header-menu">
						<div class="header-logo">
							<h1 class="brand-logo">
								<a href="index.html">
									<span class="logo"></span>
									<strong>Degung Hillside</strong>
									<small>Cozy Hidden Mountain Resort</small>
								</a>
							</h1>
						</div>
						<ul class="menu show-desktop">
							<li>
								<a href="about-us.html">About Us</a>
							</li>
							<li>
								<a href="room-facility.html">Room &amp; Packages</a>
							</li>
							<li>
								<a href="gallery.html">Gallery</a>
							</li>
							<li>
								<a href="dining-activities.html">Dining &amp; Activities</a>
							</li>
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<li>
								<a href="location.html">Location</a>
							</li>
						</ul>
					</div>
					<div class="menu-mobile show-mobile">
						<div class="toggle-down">
							<div class="menu-toggle-btn">
								<span></span>
								<span></span>
							</div>
						</div>
						<ul class="menu">
							<li>
								<a href="about-us.html">About Us</a>
							</li>
							<li>
								<a href="room-facility.html">Room &amp; Packages</a>
							</li>
							<li>
								<a href="gallery.html">Gallery</a>
							</li>
							<li>
								<a href="dining-activities.html">Dining &amp; Activities</a>
							</li>
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<li>
								<a href="location.html">Location</a>
							</li>
						</ul>
					</div>
				</nav>
			<!-- </div> -->
		</header>
		<!-- HEADER -->


		<!-- CONTAINER -->
		<div class="body">